html {
    font-size: 14px;
   
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


a {
    color: black;
    text-decoration: none;
}

#menu_item-text:hover {
    color: lawngreen;
}

body {
    background-color: grey;
}

